<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" src="../public/style/style.css" />
  <title>Coldnyummy</title>
</head>
<body>
  <%- include('./partials/header'); -%>

  <div class="wrapper">
    <h1>You have already voted with this email</h1>
  <a href="/">Go back</a>
  </div>
  
</body>
</html>