<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coldnyummy</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('./partials/header') -%>
    <h1> Choose your favorite flavor </h1>
    <div class="wrapper">
        <form action="/vote" method="POST">
          <ol>
            <% for(let element of flavors){ %>
                <% let _id = element.flavor_id %>
                <div> 
                    <%= element.name %> 
                    <form action="/vote" method="POST">
                        <input type="text" name="username" placeholder="Your name">
                        <input type="text" name="email" placeholder="Your email">
                        <input type="hidden" name="flavor_id" value="<%= _id %>">
  
                        <button>Vote</button>
                     </form>
                    </div>
                    <%}%>
                    </div>
                     </body>
                    </html>