<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="../public/style/style.css" />
    <title>Coldnyummy</title>

</head>
<body>
    <%- include('./partials/header') -%>
   <h1>The TOP 10 flavors</h1>
    <div class="wrapper">
        <% for(let element of flavorList){ %>
            <article> 
                <%= element.name %> 
                <p>Has <%= element.votes %> Votes</p>
            </article>
        <%}%>
    </div>
    
    </div>
</body>
</html>