<%- include('./partials/Header'); -%>

<link rel="stylesheet"  href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    
    <h1>Welcome,<%= user_name %>  back to the site!</h1>
   <a href="/public">Open your flavor</a>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>
  <h2>Choose your favorite flavor!</h2>
  <a href="/login">Login</a>
  <h4>If you don't have an account! Register here!</h4>
  <a href="/register">Register</a>


<%- include('./partials/Footer'); -%>
   